.side-bar-main-head{
    background-color: #071952;
}


.sideBar{
    width: 20%;
}

.side-bar-main-head a{
    all: unset;
    color: #EBF4F6;
    font-size: 20px;
    cursor: pointer;
    padding: 5px 0px;
}

.side-bar-main-head a:hover{
    border-bottom: 1px solid white;
    padding: 5px 30px 5px 0px;
}

.iconn{
    height: 20px;
    width: 20px;
    margin: 0px 15px 0px 5px;
    
}