.side-bar-main-head {
    background-color: #071952;
}

.sideBar {
    width: 18%;
}

.side-bar-main-head a {
    all: unset;
    color: #EBF4F6;
    font-size: 13px;
    cursor: pointer;
    padding: 5px 0px;
    display: flex;
    align-items: center;
}

.side-bar-main-head a:first-child {
    font-size: 20px;
    border-bottom: 1px solid white;
    width: 100%;
}

.iconn {
    height: 16px;
    width: 16px;
    margin: auto 10px auto 0px;
}

.Createbutton{
    all: unset !important;
    color: white !important;
    font-size: 13px !important;
}

.side-bar-main-head a span {
    line-height: 10px;
    margin: auto;
}